.media {
    margin-bottom: 20px;
}

h4 {
    color: #570404 !important;
}

form {
    margin-bottom: 40px;
}

p {
    color: #3a0000;
    font-size: 18px;
    font-family: "Avenir Next", "Avenir", "Avenir Next W04", "Avenir Next W02", sans-serif;
}